{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        .blink {
            animation: blink-animation 2s infinite;
        }
        @keyframes blink-animation {
            0% { opacity: 1; }
            50% { opacity: 0; }
            100% { opacity: 1; }
        }

        .zoom {
            animation: zoom-animation 6s infinite alternate;
            transform-origin: center;
        }
        @keyframes zoom-animation {
            0% { transform: scale(1); }
            100% { transform: scale(1.2); }
        }
        
        .quote-container {
            max-width: 400px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background: linear-gradient(to right, #f39200, #ff5f6d, #ff3e6c, #c32288);
        }
        .next-icon-container {
            display: inline-block;
            border-radius: 50%;
            padding: 10px;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .next-icon {
            font-size: 24px;
            color: #007bff;
            cursor: pointer;
        }

        .next-icon:hover {
            color: #0056b3;
        }
    </style>

    <h1><span class="blink">Radhe Radhe!! This is Home Page!</span></h1>
    <p class="zoom">This is the content for the home page.</p>

    <div class="quote-container">
        <h1>Quotes</h1>
        <p>{{ quote }}</p>
        <div class="next-icon-container">
        <i class="fas fa-bell next-icon" onclick="window.location.reload();"></i>
        </div>
    </div>
    
    <script>
        document.getElementById('nextQuoteBtn').addEventListener('click', function() {
            window.location.reload(); // Reload the page to get the next random quote
        });
    </script>
{% endblock %}
